*.class
*.log
.history
*.sc
.pygments-cache
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea
.idea_modules

# Intellij
.idea/
*.iml
*.iws

# Eclipse
.project
.settings
.classpath
.cache
bin/


### Gradle ###
.gradle
/build/
gradle/
/agent/build/
.gradle/*
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# End of https://www.gitignore.io/api/gradle

# Default sigar library provision location.
native/

/agent/src/main/scala/*.sc
