name: Test all the things

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Java ${{ matrix.java }}
    strategy:
      matrix:
#        java: [ 8, 11, 17, 18, 19-ea ]
        java: [ 8, 11, 17, 18, 20 ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: Test
        run: ./gradlew wrapper --gradle-version=7.6.2 :agent:publishToMavenLocal && ./gradlew wrapper --gradle-version=7.6.2 assemble && ./travis-test.sh